@media (max-width:375px){
    .products{
        display:flex;
        .card{
        }
    }
}


.products {
    width: 100vw;
    font-family: 'Nunito', sans-serif;

    .card {
        width:15rem;
        text-align: center;

        &:hover .item{
            background-color: rgba(182, 174, 174, 0.3);              
            button{
                display: block;
            }
        }

        img {
            width: 15rem;
        }

        .item{
            display: flex;
            flex-direction: column;
            background-color:  #fff;
            padding: 1rem 2rem;
            height: 12rem;

            #name {
                font-weight: 600;
                font-size: 12px;
            }

            #rating{
                img{
                    width:1rem;
                }
            }
    
            #listPrice{
                text-decoration: line-through;
                opacity: .6;
            }

            #price {
                font-weight: 700;
                font-size: 25px;
            }

            #price2 {
                font-weight: 400;
                padding-top: .5rem;
                opacity: .6;
            }

            button {                
                display: none;
                background-color: #000;
                color: #fff;
                border: 1px solid #000;
                border-radius: 5px;
                width: 10rem;
                height: 2.5rem;
                margin: 1.5rem .5rem;
                cursor: pointer;
            }

        }

        
    }
}